.board {
    position: relative;
    transition: transform 160ms ease;    display: grid;
    grid-template-columns: repeat(4, clamp(40px,8vw,64px));
    grid-template-rows: repeat(4, clamp(40px,8vw,64px));
    gap: clamp(1px, 4px, 4px);

    padding: 8px;
    border-radius: 10px;

    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4),
    0 6px 12px rgba(0, 0, 0, 0.25);

    transform: translateY(-8px);
}


.board--player:hover {
    animation: blueGlow 1.8s ease-in-out infinite alternate;
}

.board--opponent:hover {
    animation: redGlow 1.8s ease-in-out infinite alternate;
}

@keyframes blueGlow {
    from {
        box-shadow:
                0 0 8px rgba(100, 190, 255, 0.35),
                0 8px 16px rgba(0, 0, 0, 0.3);
    }

    to {
        box-shadow:
                0 0 28px rgba(100, 190, 255, 0.85),
                0 0 45px rgba(100, 190, 255, 0.45),
                0 28px 45px rgba(0, 0, 0, 0.45);
    }
}

.cell {
    width: clamp(40px,8vw,64px);
    height: clamp(40px,8vw,64px);
    background-color: rgba(0, 0, 0, 0.08);}

.board--dark {
    background-color: var(--board-dark);

    background-image: url("/dark-wood.png");
    background-repeat: repeat;
        background-size:cover;
}

.board--light {
    background-color: var(--board-light);

    background-image: url("/tileable_wood_texture.webp");
}
@keyframes redGlow {
    from {
        box-shadow:
                0 0 8px rgba(255, 80, 80, 0.35),
                0 8px 16px rgba(0, 0, 0, 0.3);
    }

    to {
        box-shadow:
                0 0 28px rgba(255, 80, 80, 0.85),
                0 0 45px rgba(255, 80, 80, 0.45),
                0 28px 45px rgba(0, 0, 0, 0.45);
    }
}

.board-pattern {

}

@media (max-width: 430px) {
    .board {
        grid-template-columns: repeat(4, clamp(15px, 10vw, 44px));
        grid-template-rows: repeat(4, clamp(15px, 10vw, 44px));
        padding: 6px;
        gap: 2px;
    }

    .cell {
        width: clamp(15px, 10vw, 44px);
        height: clamp(15px, 10vw, 44px);
    }
}
.board-wrapper {
    position: relative;
}