:root{
    --board-dark: #3E2723;
    --board-light:#D2B48C;
}
body {
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: "Sherlock";
    src: url("/SherlockHolmes-d93Bl.ttf") format("truetype");
}