.gameSpace {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.blackSide,
.whiteSide {
    display: flex;
    gap: 2rem;
}
.boards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}



.game-space {
    position: relative;
    padding-top: 1rem;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image:
            radial-gradient(
                    circle at center,
                    rgba(0, 0, 0, 0.65) 0%,
                    rgba(0, 0, 0, 0.45) 35%,
                    rgba(0, 0, 0, 0.2) 100%
            ),
            url("/joinGameBg.png");

    background-size: cover;
    background-position: 50% 8%;
    background-repeat: no-repeat;
}
.game-state-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    right: 3.5rem;
    width: 13rem;
    height: 4rem;
    font-weight: bold;
    box-shadow: 0 12px 30px rgba(0,0,0,0.45),
            0 4px 8px rgba(0,0,0,0.25);
    border: 4px solid #5a3f25;
    outline: 1px solid rgba(255,255,255,0.15);

    font-family: "Noto Sans Georgian", serif;

}
.text-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-size: 1.2rem;
}
@media (max-width: 768px) {
    .game-state-dialog {
        display: none;
    }
}