.gameSpace {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
}

.blackSide,
.whiteSide {
    display: flex;
    gap: 2rem;
}
.boards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}